@charset "UTF-8";
.page-spinner {
  /* Loading spinner "Ohmyfood!" : french flag waved */
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  background-color: white;
  animation: anim-background 0.1s forwards;
}
.page-spinner__l1 {
  font-family: "Shrikhand", cursive;
  font-size: 50px;
  color: #00A1DE;
  text-shadow: #000 2px 2px 4px;
  animation: anim-ohmyfood-word 1s 0.1s infinite ease-in-out;
}
.page-spinner__l2 {
  font-family: "Shrikhand", cursive;
  font-size: 50px;
  color: #00A1DE;
  text-shadow: #000 2px 2px 4px;
  animation: anim-ohmyfood-word 1s 0.15s infinite ease-in-out;
}
.page-spinner__l3 {
  font-family: "Shrikhand", cursive;
  font-size: 50px;
  color: #00A1DE;
  text-shadow: #000 2px 2px 4px;
  animation: anim-ohmyfood-word 1s 0.2s infinite ease-in-out;
}
.page-spinner__l4 {
  font-family: "Shrikhand", cursive;
  font-size: 50px;
  color: white;
  text-shadow: #000 2px 2px 4px;
  animation: anim-ohmyfood-word 1s 0.25s infinite ease-in-out;
}
.page-spinner__l5 {
  font-family: "Shrikhand", cursive;
  font-size: 50px;
  color: white;
  text-shadow: #000 2px 2px 4px;
  animation: anim-ohmyfood-word 1s 0.3s infinite ease-in-out;
}
.page-spinner__l6 {
  font-family: "Shrikhand", cursive;
  font-size: 50px;
  color: white;
  text-shadow: #000 2px 2px 4px;
  animation: anim-ohmyfood-word 1s 0.35s infinite ease-in-out;
}
.page-spinner__l7 {
  font-family: "Shrikhand", cursive;
  font-size: 50px;
  color: #ED2939;
  text-shadow: #000 2px 2px 4px;
  animation: anim-ohmyfood-word 1s 0.4s infinite ease-in-out;
}
.page-spinner__l8 {
  font-family: "Shrikhand", cursive;
  font-size: 50px;
  color: #ED2939;
  text-shadow: #000 2px 2px 4px;
  animation: anim-ohmyfood-word 1s 0.45s infinite ease-in-out;
}
.page-spinner__l9 {
  font-family: "Shrikhand", cursive;
  font-size: 50px;
  color: #ED2939;
  text-shadow: #000 2px 2px 4px;
  animation: anim-ohmyfood-word 1s 0.5s infinite ease-in-out;
}

/*
    Page index/home
*/
.page-header__link > a {
  display: none;
}

@counter-style circled-123 {
  system: fixed;
  symbols: "❶" "❷" "❸";
  suffix: " ";
}
.page-main__booking {
  /* Form explore restaurant for booking */
  height: 330px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: #f6f6f6;
}
@media screen and (min-width: 768px) {
  .page-main__booking {
    height: 250px;
  }
}
.page-main__booking__field {
  /* Field location search */
  height: 45px;
  width: 100%;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #eaeaea;
  box-shadow: inset 0px 5px 8px -2px #b7b7b7;
}
.page-main__booking__field label {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.page-main__booking__field label i {
  font-size: 24px;
}
.page-main__booking__field input {
  width: 65%;
  text-align: center;
  line-height: 24px;
  font-size: 18px;
  font-weight: bold;
  background-color: transparent;
  border-style: none;
}
@media screen and (min-width: 768px) {
  .page-main__booking__field input {
    width: 30%;
  }
}
.page-main__booking__field input::placeholder {
  color: black;
  border-style: none;
}
.page-main__booking__field input:focus {
  background-color: transparent;
  outline: none;
}
.page-main__booking__container {
  /* Book the menu for you */
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 5% 0;
}
@media screen and (min-width: 768px) {
  .page-main__booking__container {
    margin: 1% 0;
  }
}
.page-main__booking__container__heading {
  font-size: 24px;
  font-weight: bold;
  width: 100%;
  padding: 0 13%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .page-main__booking__container__heading {
    flex-basis: 35%;
  }
}
.page-main__booking__container__byline {
  width: 100%;
  margin: 0;
  padding: 0 6%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .page-main__booking__container__byline {
    flex-basis: 15%;
  }
}
.page-main__steps {
  /* Steps of operation : 1, 2, 3 */
  height: 450px;
  margin-bottom: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
@media screen and (min-width: 768px) {
  .page-main__steps {
    height: 150px;
    margin-bottom: 0;
  }
}
.page-main__steps__heading {
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
  font-size: 24px;
  font-weight: bold;
  width: 100%;
  padding-left: 5%;
}
.page-main__steps__list {
  width: 100%;
  flex-basis: 80%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  counter-reset: steps;
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .page-main__steps__list {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
  }
}
.page-main__steps__list__item {
  height: 20%;
  width: 90%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  background-color: #f6f6f6;
  box-shadow: 0 5px 10px #9e9e9e;
}
@media screen and (min-width: 768px) {
  .page-main__steps__list__item {
    flex-basis: 25%;
    height: 60%;
  }
}
.page-main__steps__list__item:before {
  counter-increment: steps;
  color: #9356DC;
  content: counter(steps, circled-123);
  font-size: 32px;
  position: relative;
  left: -10px;
}
.page-main__steps__list__item:hover {
  background-color: #f2eafb;
  cursor: pointer;
}
.page-main__steps__list__item:hover i {
  color: #9356DC;
}
.page-main__steps__list__item i {
  color: gray;
  font-size: 18px;
  text-align: center;
}
.page-main__steps__list__item__step {
  flex-grow: 1;
  font-size: 16px;
  font-weight: bold;
  padding-left: 1%;
  padding-right: 1%;
}
.page-main__etablishments {
  /* Etablishments, restaurants */
  height: 1250px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: #f6f6f6;
  padding-bottom: 15%;
}
@media screen and (min-width: 768px) {
  .page-main__etablishments {
    height: 680px;
    padding-bottom: 0;
  }
}
.page-main__etablishments__heading {
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
  font-size: 24px;
  font-weight: bold;
  width: 100%;
  padding-left: 5%;
}
@media screen and (min-width: 768px) {
  .page-main__etablishments__heading {
    align-items: center;
  }
}
.page-main__etablishments__container {
  flex-grow: 2;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 5%;
  padding-right: 5%;
}
@media screen and (min-width: 768px) {
  .page-main__etablishments__container {
    flex-grow: 3;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}
.page-main__etablishments__container > article {
  height: 250px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .page-main__etablishments__container > article {
    max-width: 45%;
  }
}

/*# sourceMappingURL=index.css.map */
