/* Form restaurant booking explore */
.page-main__booking {
    height: 280px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: #f6f6f6;
}

.page-main__booking__field {
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #eaeaea;
    box-shadow: inset 0px 5px 8px -2px #bfbfbf;
    & label {
        display: flex;
        flex-direction: column;
        justify-content: center;
        & i {
            font-size: 24px;
        }
    }
    & input {
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        background-color: transparent;
        border-style: none;        
        &::placeholder {
            color:black;
            border-style: none;
        }
        &:focus {
            outline: none;
        }
    }
}

.page-main__booking__heading {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    width: 75%;
}

.page-main__booking__byline {
    text-align: center;
    width: 95%;

}
