.page-main {
    &__container__booking__button,
    &__restaurant__menu__button  {

        @include button-ohmyfood;
        margin: 2% auto;
        width: 60%;
        @media screen and (min-width: map-get($breakpoints, tablet1)) {
            width:25%;
        }
    }
}