.page-main {
    &__booking__container__link__button,
    &__restaurant__menu__button  {
/* Button Ohmyfood */
        @include button-ohmyfood;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        @media screen and (min-width: $my-break) {
            width: 25%;
        }
    }
}