/* i like using text-shadow technique on solid icon */ 
.ilike-shadow {
    height: 100%;
    width: 15%;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    opacity: 1;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px black;

    &:hover {
        background: linear-gradient($colour-primary, $colour-secondary);
        background-clip: text;
        -webkit-background-clip: text; /* fix */
        color: transparent;
        animation: anim-ilike-shadow-hover  $anim-timing-ilike;
        opacity: 1;
        text-shadow: none;
    }
}

/*  */

.page-main__restaurant__heading__icon {
    width: 20%;
    border-radius: 0 20px 0 0;
}

.ilike {

    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

        &--ok {

            cursor: pointer;

            font-size: 24px;
            color: black;

            &:before {
                content: "\f004";
                transition: color 1s ease-out;
              }
            
              &:hover::before {
                
                font-weight: bold;
                color: transparent;
                background: linear-gradient($colour-primary, $colour-secondary);
                background-clip: text;
                -webkit-background-clip: text;
                transition: all .5s ease-out;
              }
        }
}

