.menu-item {
/* A dish menu item to order */
    height: 70px;
    width: 100%;
    overflow: hidden;

    cursor: pointer; 

    background-color: white;
    border-radius: 20px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

    font-size: 16px;

    /* radio */
    &__choose { 
        display: none;
    }

    /* Label */
    &__body { 

        height: 70px;
        min-width: 100%;

        display:flex;
        flex-direction: row;
        flex-wrap: wrap;

        font-size: 16px;

        transition: min-width  $anim-timing-item-ok linear;

        &__heading {

            display: flex;
            align-items: center;
            width: 100%;
            font-weight: bold;
            padding-left: 16px;
            font-size: 16px;
            white-space:  nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &__subheading {

            width: 80%;
            padding-left: 16px;
            white-space:  nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &__price {

            width: 20%;
            font-weight: bold;
        }
    }
    
    &__choosen { 
        /* Menu item ordered : Green checked */
        @include menu-item-ok;
        
        min-width: 25%;
        height: 70px;

        i {
            font-size: 32px;
        }
    }


    &:hover > &__body {
        min-width: 75%;
    }

    &:hover > &__choosen { 
        & > i {
            transform: rotate(360deg);
            transition: transform  $anim-timing-item-ok linear;
        } 
    }

    @media screen and (min-width: $my-break) {
        &:hover > &__choosen { 
            & > i {
                transition: transform  $anim-timing-item-ok-tablet linear;
            }
        }
    }

    &:not(:hover) > &__body   {
        transition: min-width  $anim-timing-item-ok * 0.75 linear;
    } 
}