.page-spinner {
    /* Loading spinner "Ohmyfood!" : colored flag waved */
    position: fixed;

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;  

    z-index: 3;

    background-color: white;
    
    animation: anim-background $anim-timing-spinner forwards;


    &__l1 {
        @include ohmyfood_word(0.1s, $colour-primary);
    }
    
    &__l2 {
        @include ohmyfood_word(0.15s, lighten($colour-primary, 10%));
    }
    
    &__l3 {
        @include ohmyfood_word(0.2s, lighten($colour-primary, 15%));
    }
    
    &__l4 {
        @include ohmyfood_word(0.25s, lighten($colour-primary, 25%));
    }
    
    &__l5 {
        @include ohmyfood_word(0.3s, white);
    }
    
    &__l6 {
        @include ohmyfood_word(0.35s, lighten($colour-secondary, 20%));
    }
    
    &__l7 {
        @include ohmyfood_word(0.4s, lighten($colour-secondary, 15%));
    }
    
    &__l8 {
        @include ohmyfood_word(0.45s, lighten($colour-secondary, 10%));
    }
    
    &__l9 {
        @include ohmyfood_word(0.5s, $colour-secondary);
    }

}