* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

header {
    border: 3px grey solid;
}
main {
    border: 3px grey dotted;
}
footer {
    border: 3px grey solid;
}
form, section {
    border: 2px blue dotted;
}
