@import "../utils/variables";
@import "../utils/mixins";
@import "../utils/animations";
@import "../components/spinners";

.page-header__link > a {
    @include header-display-backlink(false);
}

@counter-style circled-123 {
    system: fixed;
    symbols: "\2776" "\2777" "\2778" "\2779" "\2780";
    suffix: " ";
}

/* 
    Form explore restaurant for booking
*/

.page-main {

    &__booking 
    {
        height: 330px;
        @media screen and (min-width:  map-get($breakpoints, mobile2)) {
            height: 250px;
        }

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        background-color: #f6f6f6;

        &__field {
            height: 45px;
            width: 100%;
            flex-grow: 0;
            display: flex;
            flex-direction: row;
            justify-content: center;
            background-color: #eaeaea;
            box-shadow: inset 0px 5px 8px -2px #bfbfbf;

            label {
                display: flex;
                flex-direction: column;
                justify-content: center;
                i {
                    font-size: 24px;
                }
            }

            input {
                text-align: center;
                line-height: 24px;
                font-size: 18px;
                font-weight: bold;
                background-color: transparent;
                border-style: none;        
                &::placeholder {
                    color:black;
                    border-style: none;
                }
                &:focus {
                    outline: none;
                }

                @media screen and (min-width:  map-get($breakpoints, mobile2)) {
                    width: 25%;
                }
            }
        }
    }

    &__container {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        
        margin: 5% 0;
        @media screen and (min-width:  map-get($breakpoints, mobile2)) {
            margin: 1% 0;
        }

        &__booking__heading {
            font-size: 24px;
            font-weight: bold;
            text-align: center;
            width: 75%;
        }

        &__booking__byline {
            width: 95%;
            text-align: center;
            margin: 0;
        }

    }

/* 
    Steps of operation : 1, 2, 3
*/
    &__steps  {

        height: 430px;
        @media screen and (min-width:  map-get($breakpoints, mobile2)) {
            height: 150px;
        }
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        &__container {

            height: 80%;
            display: flex;
            flex-direction: column;

            &__heading {
                font-size: 24px;
                font-weight: bold;
                width: 100%;
                padding-left: 5%;
            }

            &__list {

                width:100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                flex-grow: 4;
                list-style-type: none;
                counter-reset: steps;
                padding: 0;
                margin: 0;

                @media screen and (min-width:  map-get($breakpoints, mobile2)) {
                    flex-direction: row;
                    justify-content: space-around;
                }

                &__item {
                    flex-grow: 0;
                    display: flex;
                    flex-wrap: nowrap;
                    justify-content:space-around;
                    align-items: center;
                    border-radius: 25px;   
                    padding: 18px 10px;
                    background-color: #f6f6f6;
                    box-shadow: 0 5px 10px #9e9e9e;
                    width: 90%;

                    @media screen and (min-width:  map-get($breakpoints, mobile2)) {
                        width:25%;
                    }

                    &:before {
                        counter-increment: steps;
                        color:  $colour-primary;
                        content:  counter(steps, circled-123);
                        font-size: 32px;
                        position:relative;
                        left: -20px;
                    }
                
                    & i  {
                        flex-grow: 1;
                        color: gray;
                        font-size: 18px;
                        text-align: center;
                    }
                
                    &:hover {
                        background-color:  lighten($colour-primary, 35%);
                        cursor: pointer;
                        i {
                        color: $colour-primary;
                        }
                    }
                
                    & span  {
                        flex-grow: 2;
                        font-size: 16px;
                        font-weight: bold;
                    }
                }
            }
        } 
    }

/* 
    Etablishments, restaurants
*/

    &__etablishments {

        height: 1450px;
        background-color: #f6f6f6;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        padding: 5% 0;

        @media screen and (min-width:  map-get($breakpoints, mobile2)) {
            height: 100%;
            flex-direction: row;
            flex-wrap: wrap;
            padding: 1% 0;
            
        }

        &__container {

            width: 90%;
            flex-basis: 95%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            @media screen and (min-width:  map-get($breakpoints, mobile2)) {
                flex-basis: 100%;
                height:100%;
                flex-direction: row;
                flex-wrap: wrap;
            }

            &__link {
                display: block;

                @media screen and (min-width:  map-get($breakpoints, mobile2)) {
                    width: 40%;
                    height: 50%;
                }
                &:visited {
                    color: black;
                }
            }
        }

        &__heading {
            font-size: 24px;
            font-weight: bold;
            width: 90%;
            flex-basis: 5%;
            display: flex;
            align-items: center;

            @media screen and (min-width:  map-get($breakpoints, mobile2)) {
                border: 3px blueviolet dotted;
                flex-basis: 100%;
        }

        }
    }  

}