@import "../utils/variables";
@import "../utils/mixins";
@import "../utils/extensions";
@import "../components/item";

/*
    Pages menu
*/
.page-header__link  {
    & > a {
        @include header-display-backlink(true);
    }
}

.page-main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    &__restaurant {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        background-color: $colour-background;

        &__image {
            height:250px;
            object-fit: cover;
            object-position: center;
            overflow: auto;
            width: 100%;
        }

        &__heading {
        /*  Heading */
            position: relative;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            z-index: 1;
            border-radius: 30px 30px 0 0;
            background-color: $colour-background;

            top: -30px;

            &__caption {
                font-family: "Shrikhand", cursive;
                font-size: 28px;
                width: 80%;
                height: 100px;
                display: flex;
                align-items: center;
                padding-left: 5% ;
            }

            &__icon {
                width: 20%;
                border-radius: 0 20px 0 0;
            }
        }

        &__menu {
            /* Menu */
            width: 100%;
            position: relative;
            top: -30px;

            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: center;

            &__container {

                width: 95%;

                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                align-items: center; 

                @media screen and (min-width: $my-break) {
                    height: 450px;
                    flex-grow: 1;
                    flex-wrap: wrap;
                    justify-content: flex-start;
                }

                &__starters,
                &__dishes,
                &__desserts {

                    width:100%;

                    @media screen and (min-width: $my-break) { 
                        width:30%;
                        min-height: 100%;
                        flex-shrink: 0;
                        flex-grow: 1;
                    }
                    display: flex;
                    flex-direction: column;
                    flex-wrap: nowrap;                    
                    justify-content: flex-start;

                    @include menu-apparition;

                    &__heading {

                        width: 100%;
                        text-transform: uppercase;
                        margin: 5% 0;

                        span {
                            text-decoration: underline; 
                            text-decoration-style: solid;
                            text-decoration-color: $colour-tertiary;
                            text-decoration-thickness: 4px;
                            text-underline-offset: 4px;
                        }
                    }

                    > div[class="menu-item"] {
                        margin: 2% 0;
                        @media screen and (min-width: $my-break) { 
                            margin: 5% 0;
                        }
                    }
                }
            }

            &__button {
                /* Order menu */
                @include menu-apparition;
                margin-top: 8%;
                margin-bottom: 10%;
                @media screen and (min-width: $my-break) {
                    margin-top: 2%;
                    margin-bottom: 2%;
                }
            }
        }
    }
}