@import "../utils/variables";

/*  Spinner ohmyfood! */
@keyframes anim-ohmyfood-word {
    0% {
        color:white;
    }
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY($anim-y-spinner);
    }
}

/*  Menu apparition */
@keyframes menu-apparition-1
{
    from {
        opacity: 0;
        transform: translateY(20%)
      }
      to {
        opacity: 1;
        transform: translateY(0)
      }
}

@keyframes anim-background {
    0% {
        z-index: 100;
    }

    99% {
        z-index: 100;
    }

    100% {
        z-index: -12;
        visibility: hidden;
    }
}

/*  I like ! (using text-shadow technique) */
@keyframes anim-ilike-shadow-hover  {
    0% {
        opacity: 0.1;
    }
    25% {
        opacity: 0.25;
    }
    75% {
        opacity: 0.75;
    }
    100% {
        opacity: 1;
    }
}