@import "../utils/mixins";
@import "../utils/variables";

/*  Menu apparition */
@keyframes menu-apparition
{
    from
    {
        transform: translateY(20%);
        opacity: 0;
    }
    to
    {
        transform: translateY(0);
        opacity: 1;
    }
}

/*  Spinner ohmyfood! */
@keyframes anim-ohmyfood-word {
    0% {
        color:white;
    }
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY($anim-y-spinner);
    }
}

@keyframes anim-background {
    0% {
        z-index: 100;
    }

    99% {
        z-index: 100;
    }

    100% {
        z-index: -12;
        visibility: hidden;
    }
}

/*  I like ! */
@keyframes anim-ilike-hover {
    0% {
        opacity: 0.1;
    }
    25% {
        opacity: 0.25;
    }
    75% {
        opacity: 0.75;
    }
    100% {
        opacity: 1;
    }
}