@mixin header-display-backlink($show: true){
    @if ($show) {
        flex-grow: 1;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    } @else {
        display: none;
    }
}

@mixin button-ohmyfood {
    border-radius: 25px;
    border: none;
    padding: 15px 25px;
    font-size: 16px;
    color: white;
    background-color: $colour-primary;
    background: $colour-secondary;
    background-image: linear-gradient(to left top,  $colour-primary 10%, $colour-secondary 90%);
    box-shadow: 0 5px 10px #9e9e9e;
    width: fit-content;
    min-width: 50%;
    cursor: pointer;
}

@mixin menu-item-ok {
    border-radius: 0 20px 20px 0;
    background: $colour-tertiary;
    color: white;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
