
$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;

$colour-flag-1: #00A1DE;
$colour-flag-2: white;
$colour-flag-3: #ED2939;

$colour-background: #eaeaea;

$breakpoints: (
  mobile1: 320px,
  mobile2: 390px,
  tablet1: 768px,
  tablet2: 820px,
  desktop: 992px
);
$my-break: map-get($breakpoints, tablet1);

$anim-timing-item-ok: 0.45s;
$anim-timing-item-ok-tablet: 0.65s;
$anim-timing-menu-apparition: 1.5s;
$anim-timing-menu-apparition-delay: 0.1s;

$anim-timing-spinner:  1.75s;
$anim-y-spinner: 32px;

$anim-timing-ilike: 1s;